{
  "openapi": "3.0.3",
  "info": {
    "title": "LoLBoost Seller API",
    "version": "1.0.0",
    "description": "Seller API for syncing account offers and item offers with LoLBoost."
  },
  "servers": [
    {
      "url": "https://api.lolboost.gg",
      "description": "LoLBoost Seller API"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Create, list, update, archive and bulk remove account offers."
    },
    {
      "name": "Items",
      "description": "Create, list, update, archive and bulk remove item offers."
    },
    {
      "name": "Webhooks",
      "description": "Webhook payload examples for sync events."
    }
  ],
  "paths": {
    "/api/v1/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List account offers",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    },
                    "meta": {
                      "type": "object"
                    },
                    "links": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "filter[search]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[external_id]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "-updated_at"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "example": 15
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create account offer",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCreateRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{identifier}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account offer",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "LoLBoost ID or external_id",
            "schema": {
              "type": "string",
              "example": "seller-account-123"
            }
          }
        ]
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update account offer",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "LoLBoost ID or external_id",
            "schema": {
              "type": "string",
              "example": "seller-account-123"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Archive account offer",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "archived": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "LoLBoost ID or external_id",
            "schema": {
              "type": "string",
              "example": "seller-account-123"
            }
          }
        ]
      }
    },
    "/api/v1/accounts/bulk-remove": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Bulk archive account offers",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkRemoveResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkRemoveRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/items": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "List item offers",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Item"
                      }
                    },
                    "meta": {
                      "type": "object"
                    },
                    "links": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "filter[search]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[external_id]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "-updated_at"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "example": 15
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Items"
        ],
        "summary": "Create item offer",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemCreateRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/items/{identifier}": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Get item offer",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "LoLBoost ID or external_id",
            "schema": {
              "type": "string",
              "example": "seller-account-123"
            }
          }
        ]
      },
      "patch": {
        "tags": [
          "Items"
        ],
        "summary": "Update item offer",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemUpdateRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "LoLBoost ID or external_id",
            "schema": {
              "type": "string",
              "example": "seller-account-123"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "Items"
        ],
        "summary": "Archive item offer",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "archived": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "LoLBoost ID or external_id",
            "schema": {
              "type": "string",
              "example": "seller-account-123"
            }
          }
        ]
      }
    },
    "/api/v1/items/bulk-remove": {
      "post": {
        "tags": [
          "Items"
        ],
        "summary": "Bulk archive item offers",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkRemoveResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkRemoveRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key"
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 123
          },
          "external_id": {
            "type": "string",
            "example": "seller-account-123"
          },
          "lolboost_account_id": {
            "type": "integer",
            "example": 123
          },
          "title": {
            "type": "string",
            "example": "League of Legends Account Diamond EUW"
          },
          "price": {
            "type": "integer",
            "example": 4999
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "pending",
              "listed",
              "processing",
              "sold",
              "refunded",
              "archived"
            ],
            "example": "listed"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "sold_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "AccountCreateRequest": {
        "type": "object",
        "required": [
          "external_id",
          "title",
          "price"
        ],
        "properties": {
          "external_id": {
            "type": "string",
            "example": "seller-account-123"
          },
          "title": {
            "type": "string",
            "example": "League of Legends Account Diamond EUW"
          },
          "game": {
            "type": "string",
            "example": "lol"
          },
          "server": {
            "type": "string",
            "example": "EUW"
          },
          "price": {
            "type": "integer",
            "example": 4999
          },
          "status": {
            "type": "string",
            "example": "listed"
          },
          "parameters": {
            "type": "object",
            "example": {
              "level": 30,
              "rank": "Diamond"
            }
          },
          "credentials": {
            "$ref": "#/components/schemas/AccountCredentials"
          }
        }
      },
      "AccountUpdateRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "price": {
            "type": "integer",
            "example": 5999
          },
          "status": {
            "type": "string",
            "example": "listed"
          },
          "description": {
            "type": "string"
          },
          "parameters": {
            "type": "object"
          },
          "credentials": {
            "$ref": "#/components/schemas/AccountCredentials"
          }
        }
      },
      "AccountCredentials": {
        "type": "object",
        "properties": {
          "login": {
            "type": "string",
            "example": "account-login"
          },
          "password": {
            "type": "string",
            "example": "account-password"
          },
          "email_login": {
            "type": "string",
            "example": "mail@example.com"
          },
          "email_password": {
            "type": "string",
            "example": "mail-password"
          }
        }
      },
      "Item": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 55
          },
          "external_id": {
            "type": "string",
            "example": "item-123"
          },
          "lolboost_item_id": {
            "type": "integer",
            "example": 55
          },
          "title": {
            "type": "string",
            "example": "LoL Gift Item"
          },
          "type": {
            "type": "string",
            "example": "gift"
          },
          "game": {
            "type": "string",
            "example": "lol"
          },
          "server": {
            "type": "string",
            "example": "EUW"
          },
          "price": {
            "type": "integer",
            "example": 999
          },
          "stock": {
            "type": "integer",
            "example": 10
          },
          "status": {
            "type": "string",
            "example": "listed"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ItemCreateRequest": {
        "type": "object",
        "required": [
          "external_id",
          "title",
          "price"
        ],
        "properties": {
          "external_id": {
            "type": "string",
            "example": "item-123"
          },
          "title": {
            "type": "string",
            "example": "LoL Gift Item"
          },
          "type": {
            "type": "string",
            "example": "gift"
          },
          "game": {
            "type": "string",
            "example": "lol"
          },
          "server": {
            "type": "string",
            "example": "EUW"
          },
          "price": {
            "type": "integer",
            "example": 999
          },
          "stock": {
            "type": "integer",
            "example": 10
          },
          "status": {
            "type": "string",
            "example": "listed"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "ItemUpdateRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "price": {
            "type": "integer"
          },
          "stock": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "BulkRemoveRequest": {
        "type": "object",
        "properties": {
          "external_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "seller-account-123",
              "seller-account-124"
            ]
          },
          "ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "example": [
              123,
              124
            ]
          }
        }
      },
      "BulkRemoveResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "processed": {
            "type": "integer",
            "example": 2
          },
          "removed": {
            "type": "integer",
            "example": 2
          },
          "not_found": {
            "type": "integer",
            "example": 0
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Unauthenticated."
          }
        }
      },
      "WebhookAccountSold": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "example": "account.sold"
          },
          "external_id": {
            "type": "string",
            "example": "seller-account-123"
          },
          "lolboost_account_id": {
            "type": "integer",
            "example": 123
          },
          "sold_at": {
            "type": "string",
            "example": "2026-06-19 15:30:00"
          }
        }
      },
      "WebhookItemSold": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "example": "item.sold"
          },
          "external_id": {
            "type": "string",
            "example": "item-123"
          },
          "lolboost_item_id": {
            "type": "integer",
            "example": 55
          },
          "quantity": {
            "type": "integer",
            "example": 1
          },
          "sold_at": {
            "type": "string",
            "example": "2026-06-19 15:30:00"
          }
        }
      }
    }
  }
}